<div class="chapter_video">
  <video src="app_sample/MeetCharactersSample9s.mp4" playsinline controls ></video>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <h2 class="text-center">Meet the characters</h2>
      </div>
      <div class="col-xs-2 watch_video_button">
        <button class="btn btn-default" disabled>Watch Video</button>
      </div>
      <div class="col-xs-2 next_question to_questions" style="display: none; ">
        <button class="btn btn-success">Character Quiz</button>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="1">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/AppG2.jpg" /></div>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Sixth Grade Class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="2">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/AppG4.jpg" /></div>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="3">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/AppG5.jpg" /></div>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Chair</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Butterfly</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Treehouse</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="4">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/AppG6.jpg" /></div>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Sixth Grade Class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<script type="text/javascript" src="controls.js"></script>
