<div class="chapter_video">
  <video src="app_sample/7x9Sample9sTimesTalesOnly.mp4" playsinline controls ></video>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <h2 class="text-center">Learn the stories</h2>
      </div>
      <div class="col-xs-2 watch_video_button">
        <button class="btn btn-default" disabled>Watch Video</button>
      </div>
      <div class="col-xs-2 next_question to_questions" style="display: none; ">
        <button class="btn btn-success">Story Quiz</button>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="1">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG10.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Sixth Grade Class</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="2">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG11.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">7</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="3">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG12.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">3 o'clock</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4 o'clock</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5 o'clock</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="4">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG16.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Bananas</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Pears</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Apples</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="5">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG17.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">1</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">8</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="6">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG18.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">1</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="7">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG22.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Sixth Grade Class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="8">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG23.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">5</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">7</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="9">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG24.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">4</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="10">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG25.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer"> Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. Week</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="11">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG26.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">7</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">8</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">9</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="12">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_sample/GG27.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">1</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<script type="text/javascript" src="controls.js"></script>
