<div class="math_container" style="background-image: url('app_sample/GG49.jpg')">
    <div class="row">
      <div class="col-xs-6">
        &nbsp;
      </div>
      <div class="col-xs-2">&nbsp;</div>
      <div class="numpad col-xs-4 row">
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="1">1</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="2">2</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="3">3</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="4">4</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="5">5</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="6">6</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="7">7</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="8">8</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="9">9</button> </div>
        <div class="col-xs-4"><button class="btn btn-danger btn-block numpad-button" data-num="-1">C</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="0">0</button> </div>
        <div class="col-xs-4"><button class="btn btn-success btn-block numpad-button" data-num="-2"><i class="fa fa-chevron-right"></i></button> </div>
        <div class="col-xs-12"><h2 class="answer">&nbsp;<span class="answer_text"></span></h2></div>
      </div>
    </div>
  </div>
<div class="answer_bar">
    <div class="col-xs-2">
      <i class="fa fa-home root_return"></i>
    </div>
</div>
<script type="text/javascript">
  questions =
   [
     "app_sample/GG49.jpg",
     "app_sample/GG52.jpg",
     "app_sample/GG54.jpg",
     "app_sample/GG55.jpg",
     "app_sample/GG58.jpg",
     "app_sample/GG61.jpg",
     "app_sample/GG63.jpg",
     "app_sample/GG66.jpg"
   ];

  answers = [
    54,
    81,
    63,
    72,
    8,
    9,
    9,
    6
  ];
  cur_question = 0;

  var question = questions[cur_question];
  window.finalLevel = true;
  $('.math_container').css("background-image","url(" + question + ")");
</script>
<script src="controls.js"></script>
