<div class="chapter_question" data-question-id="1">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/AppG30.jpg)">
    <div class="book_text" data-question-id="1">
      The <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> played musical <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> for <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> hours.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Sixth Grade Class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">Chairs</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">24</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="2">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/AppG31.jpg)">
		<div class="book_text" data-question-id="2">
    	<span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> went butterfly hunting. She captured <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> in her net and <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> landed on her head.
		</div>
	</div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">20</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">1</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="3">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/AppG32.jpg)">
		<div class="book_text" data-question-id="3">
    	Mrs. Snowman stood on a <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> to reach her <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> buttons and <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> mittens.
		</div>
	</div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Chair</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">2</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="4">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/AppG33.jpg)">
		<div class="book_text" data-question-id="5">
    	A <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> flew by the <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> and discovered a treasure of <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>.
		</div>
	</div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Butterfly</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">Treehouse</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">27 cents</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="5">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/AppG34.jpg)">
		<div class="book_text" data-question-id="4">
    	<span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> sat on a chair and fished. She caught <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> boots and <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> trout.
		</div>
	</div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer" data-answer="1">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">8</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="6">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/AppG35.jpg)">
		<div class="book_text" data-question-id="5">
    	The <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> raised butterflies. At <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> they set <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> butterflies free.
		</div>
	</div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Sixth Grade Class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">1 o'clock</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">8</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="7">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/AppG36.jpg)">
		<div class="book_text" data-question-id="6">
    	The chair got stuck in the <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> after someone tied on <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> kites and <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> balloons.
		</div>
	</div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Treehouse</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">6</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="8">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/AppG37.jpg)">
	<div class="book_text" data-question-id="6">
    	After the warm weather melted <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>,&nbsp;<span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> butterflies took her arms and <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> flew away with her apron.
		</div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">4</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<script src="controls.js?v=1"></script>
<script>
  shuffle_answer_bar($('#chapter_frame').find('.chapter_question').first());
</script>
