<div class="math_chapter_container">
  <div class="math_container" style="background-image: url('app_img/AppG46.jpg')">
    <div class="row">
      <div class="col-xs-6">
        &nbsp;
      </div>
      <div class="col-xs-2">&nbsp;</div>
      <div class="numpad col-xs-4 row">
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="1">1</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="2">2</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="3">3</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="4">4</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="5">5</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="6">6</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="7">7</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="8">8</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="9">9</button> </div>
        <div class="col-xs-4"><button class="btn btn-danger btn-block numpad-button" data-num="-1">C</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="0">0</button> </div>
        <div class="col-xs-4"><button class="btn btn-success btn-block numpad-button" data-num="-2"><i class="fa fa-chevron-right"></i></button> </div>
        <div class="col-xs-12"><h2 class="answer">&nbsp;<span class="answer_text"></span></h2></div>
      </div>
    </div>
  </div>
  <div class="answer_bar clearfix">
      <div class="col-xs-2  root_return pull-left">
        <i class="fa fa-home"></i>
      </div>
  </div>
</div>
<script type="text/javascript">
  questions =
   [
     "app_img/AppG46.jpg",
     "app_img/AppG47.jpg",
     "app_img/AppG48.jpg",
     "app_img/AppG49.jpg",
     "app_img/AppG50.jpg",
     "app_img/AppG51.jpg",
     "app_img/AppG52.jpg",
     "app_img/AppG53.jpg",
     "app_img/AppG54.jpg",
     "app_img/AppG55.jpg",
     "app_img/AppG56.jpg",
     "app_img/AppG57.jpg",
     "app_img/AppG58.jpg",
     "app_img/AppG59.jpg",
     "app_img/AppG60.jpg",
     "app_img/AppG61.jpg"
   ];

  answers =
  [
    21,
    24,
    32,
    36,
    24,
    18,
    27,
    28,
    4,
    3,
    7,
    4,
    8,
    6,
    3,
    4
  ];
  cur_question = 0;

  question = questions[cur_question];

  $('.match_container').css("background-image","url(" + question + ")");
</script>

<script src="controls.js?v=1"></script>
