<div class="chapter_video">
  <video src="app_vid/Vid4.mp4" playsinline controls ></video>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <h2 class="text-center">Learn the stories</h2>
      </div>
      <div class="col-xs-2 watch_video_button">
        <button class="btn btn-default" disabled>Watch Video</button>
      </div>
      <div class="col-xs-2 next_question to_questions" style="display: none; ">
        <button class="btn btn-success">Story Quiz</button>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="1">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG1.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Sixth Grade Class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Butterfly</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="2">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG2.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">56 miles per hour</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button ">55 miles per hour</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">57 miles per hour</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="3">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG3.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer" >Mr. and Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. and Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">6th Grade Class and Butterflies</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="4">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG4.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="5">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG5.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">9</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">10</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">11</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="6">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG6.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. Week</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="7">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG7.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">41</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">42</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">43</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="8">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG8.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">First grade class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Third grade class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Sixth grade class</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="9">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG9.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4 to 6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5 to 6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">3 to 6</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="10">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG10.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Sixth Grade Class</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="11">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG11.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">7</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="12">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG12.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">3 o'clock</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4 o'clock</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5 o'clock</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="13">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG13.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. and Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Sixth Grade Class and Butterflies</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mr. and Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="14">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG14.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">6</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="15">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG15.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="16">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG16.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Bananas</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Pears</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Apples</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="17">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG17.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">1</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">8</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="18">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG18.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">1</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="19">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG19.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Butterflies</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="20">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG20.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">6</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="21">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG21.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">8</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="22">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG22.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Sixth Grade Class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="23">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG23.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">5</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">7</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="24">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG24.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">4</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="25">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG25.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer"> Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. Week</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="26">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG26.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">7</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">8</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">9</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="27">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/GG27.jpg" /></div>
  <h2></h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">1</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<script src="controls.js?v=1"></script>
