<div class="chapter_question" data-question-id="1">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG28.jpg)">
    <div class="book_text" data-question-id="1">
      Mr. and Mrs. <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> have <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> dogs and <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> cats.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">9</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question"  style="display: none;" data-question-id="2">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG29.jpg)">
    <div class="book_text" data-question-id="1">
      Mrs. <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> and Mrs. <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> were driving together and went <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> over the speed limit.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">one mile</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question"  style="display: none;" data-question-id="3">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG30.jpg)">
    <div class="book_text" data-question-id="1">
      Mrs. <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Grade Class has <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> students.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Week's</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">Sixth</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">42</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="4">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG31.jpg)">
    <div class="book_text" data-question-id="1">
      Two Sixth Grade Classes played <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> and the score was <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> to <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">soccer</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">6</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="5">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG32.jpg)">
    <div class="book_text" data-question-id="1">
      Mrs. Week went to the <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> and raked up <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> bags of leaves by <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> o'clock.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Treehouse</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">3</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="6">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG33.jpg)">
    <div class="book_text" data-question-id="1">
      Mr. and Mrs. <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> must eat <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> snowcones <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> times a day.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">4</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="7">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG34.jpg)">
    <div class="book_text" data-question-id="1">
      There were two <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>. The first Treehouse grew <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> apples and the second grew only <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> apple.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Treehouses</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">8</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">1</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="8">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG35.jpg)">
    <div class="book_text" data-question-id="1">
      Mrs. <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> visited the Sixth Grade Class and showed them <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> birds and an <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> legged spider.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">4</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">8</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="9">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG36.jpg)">
    <div class="book_text" data-question-id="1">
      Mrs. Snowman went to the <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> and knocked <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> times on <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> doors.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Treehouse</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">7</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">2</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="10">
  <div class="time_bar">&nbsp;</div>
	<h2>&nbsp;</h2>
	<div class="question_image book_bg" style="background-image: url(app_img/GG37.jpg)">
    <div class="book_text" data-question-id="1">
      The <span class="multiple_answer current_multiple_answer" data-answer-id="1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Grade Class went to the Treehouse to feed <span class="multiple_answer" data-answer-id="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> pounds of bananas to <span class="multiple_answer" data-answer-id="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> monkeys.
    </div>
  </div>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="1">Sixth</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="2">5</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button" data-answer="3">4</button>
        </div>
      </div>
      <div class="col-xs-2 remove_answer">
        <i class="fa fa-angle-left"></i>
      </div>
  </div>
</div>
<script src="controls.js?v=1"></script>
<script>
  shuffle_answer_bar($('#chapter_frame').find('.chapter_question').first());
</script>
