<div class="math_container" style="background-image: url('app_img/GG48.jpg')">
    <div class="row">
      <div class="col-xs-6">
        &nbsp;
      </div>
      <div class="col-xs-2">&nbsp;</div>
      <div class="numpad col-xs-4 row">
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="1">1</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="2">2</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="3">3</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="4">4</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="5">5</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="6">6</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="7">7</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="8">8</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="9">9</button> </div>
        <div class="col-xs-4"><button class="btn btn-danger btn-block numpad-button" data-num="-1">C</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="0">0</button> </div>
        <div class="col-xs-4"><button class="btn btn-success btn-block numpad-button" data-num="-2"><i class="fa fa-chevron-right"></i></button> </div>
        <div class="col-xs-12"><h2 class="answer">&nbsp;<span class="answer_text"></span></h2></div>
      </div>
    </div>
  </div>
<div class="answer_bar">
    <div class="col-xs-2">
      <i class="fa fa-home root_return"></i>
    </div>
</div>
<script type="text/javascript">
  questions =
   [
     "app_img/GG48.jpg",
     "app_img/GG49.jpg",
     "app_img/GG50.jpg",
     "app_img/GG51.jpg",
     "app_img/GG52.jpg",
     "app_img/GG53.jpg",
     "app_img/GG54.jpg",
     "app_img/GG55.jpg",
     "app_img/GG56.jpg",
     "app_img/GG57.jpg",
     "app_img/GG58.jpg",
     "app_img/GG59.jpg",
     "app_img/GG60.jpg",
     "app_img/GG61.jpg",
     "app_img/GG62.jpg",
     "app_img/GG63.jpg",
     "app_img/GG64.jpg",
     "app_img/GG65.jpg",
     "app_img/GG66.jpg",
     "app_img/GG67.jpg"
   ];

  answers = [
    49,
    54,
    64,
    42,
    81,
    48,
    63,
    72,
    56,
    36,
    8,
    8,
    6,
    9,
    6,
    9,
    7,
    8,
    6,
    7
  ];
  cur_question = 0;

  var question = questions[cur_question];

  $('.math_container').css("background-image","url(" + question + ")");

  window.finalLevel = true;
</script>
<script src="controls.js?v=1"></script>
