<div class="chapter_video">
  <video src="app_vid/Vid2.mp4" playsinline controls></video>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <h2 class="text-center">Learn the stories</h2>
      </div>
      <div class="col-xs-2 watch_video_button">
        <button class="btn btn-default" disabled>Watch Video</button>
      </div>
      <div class="col-xs-2 next_question to_questions" style="display: none; ">
        <button class="btn btn-success">Story Quiz</button>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="1">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG7.jpg" /></div>
  <h2>Who discovered the treasure?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Butterfly</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="2">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG8.jpg" /></div>
  <h2>How much was the treasure?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">44 Cents</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">23 Cents</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">27 Cents</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="3">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG9.jpg" /></div>
  <h2>Who melted?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Sixth Grade Class</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="4">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG10.jpg" /></div>
  <h2>How many butterflies flew away with her arms?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="5">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG11.jpg" /></div>
  <h2>How many butterflies flew away with her apron?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">4</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="6">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG12.jpg" /></div>
  <h2>Who played musical chairs?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Sixth Grade Class</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="7">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG13.jpg" /></div>
  <h2>How long did they play for?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">24 hours</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">12 hours</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2 hours</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="8">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG14.jpg" /></div>
  <h2>What did Mrs. Week sit on when she finished?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Treasure</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Net</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Chair</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="9">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG15.jpg" /></div>
  <h2>How many boots did Mrs. Week Catch?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="10">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG16.jpg" /></div>
  <h2>How many trout did Mrs. Week catch?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">7</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">8</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="11">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG17.jpg" /></div>
  <h2>Who went butterfly hunting?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Sixth Grade Class</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="12">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG18.jpg" /></div>
  <h2>How many butterflies were in the net?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">17</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">20</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">22</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="13">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG19.jpg" /></div>
  <h2>How many butterflies were on Mrs. Week’s head?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">1</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="14">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG20.jpg" /></div>
  <h2>How many butterflies did Mrs. Week have all together?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">17</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">20</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">21</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="15">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG21.jpg" /></div>
  <h2>What got stuck up in the Treehouse?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Butterflies</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Chair</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="16">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG22.jpg" /></div>
  <h2>How many kites were tied to the chair?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">9</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="17">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG23.jpg" /></div>
  <h2>How many balloons were tied to the chair?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">5</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">7</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="18">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG24.jpg" /></div>
  <h2>Who stood on the chair?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mr. Snowman</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="19">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG25.jpg" /></div>
  <h2>How many buttons did she reach for?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">3</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="20">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG26.jpg" /></div>
  <h2>How many mittens did Mrs. Snowman reach for?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">1</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">2</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">3</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="21">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG27.jpg" /></div>
  <h2>Who kept the butterflies in a jar?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">Sixth Grade Class</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Week</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">Mrs. Snowman</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="22">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG28.jpg" /></div>
  <h2>What time did they let the butterflies go?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">12 o'clock</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">2 o'clock</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">1 o'clock</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<div class="chapter_question" style="display: none;" data-question-id="23">
  <div class="time_bar">&nbsp;</div>
  <div class="question_image"><img src="app_img/AppG29.jpg" /></div>
  <h2>How many butterflies did the Sixth Grade Class set free?</h2>
  <div class="answer_bar">
      <div class="col-xs-2  root_return">
        <i class="fa fa-home"></i>
      </div>
      <div class="col-xs-8 row">
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button correct_answer">8</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">6</button>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-success btn-block answer_button">4</button>
        </div>
      </div>
      <div class="col-xs-2 next_question">
        <i class="fa fa-angle-right"></i>
      </div>
  </div>
</div>
<script src="controls.js?v=1"></script>
