<div class="chapter_video">
  <video src="app_vid/Vid3.mp4" playsinline controls></video>
  <div class="answer_bar">
      <div class="col-xs-2">
        <i class="fa fa-home root_return"></i>
      </div>
      <div class="col-xs-8 row">
        <h2 class="text-center">Practice Flashcards</h2>
      </div>
      <div class="col-xs-2 watch_video_button">
        <button class="btn btn-default" disabled>Watch Video</button>
      </div>
      <div class="col-xs-2 next_question to_questions to_math_question" style="display: none; ">
        <button class="btn btn-success">Flashcard Quiz</button>
      </div>
  </div>
</div>
<div class="math_chapter_container" style="display: none;">
  <div class="math_container" style="background-image: url('app_img/AppG38.jpg')">
    <div class="row">
      <div class="col-xs-6">
          &nbsp;
      </div>
        <div class="col-xs-2">&nbsp;</div>
      <div class="numpad col-xs-4 row">
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="1">1</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="2">2</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="3">3</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="4">4</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="5">5</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="6">6</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="7">7</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="8">8</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="9">9</button> </div>
        <div class="col-xs-4"><button class="btn btn-danger btn-block numpad-button" data-num="-1">C</button> </div>
        <div class="col-xs-4"><button class="btn btn-default btn-block numpad-button" data-num="0">0</button> </div>
        <div class="col-xs-4"><button class="btn btn-success btn-block numpad-button" data-num="-2"><i class="fa fa-chevron-right"></i></button> </div>
        <div class="col-xs-12"><h2 class="answer">&nbsp;<span class="answer_text"></span></h2></div>
      </div>
    </div>
  </div>
  <div class="answer_bar clearfix">
      <div class="col-xs-2  root_return pull-left">
        <i class="fa fa-home"></i>
      </div>
  </div>
</div>
<script type="text/javascript">
  var questions =
   [
     "app_img/AppG38.jpg",
     "app_img/AppG39.jpg",
     "app_img/AppG40.jpg",
     "app_img/AppG41.jpg",
     "app_img/AppG42.jpg",
     "app_img/AppG43.jpg",
     "app_img/AppG44.jpg",
     "app_img/AppG45.jpg"
   ];

   var answers =
   [
     21,
     24,
     32,
     36,
     24,
     18,
     27,
     28
   ];
  cur_question = 0;

  var question = questions[cur_question];

  $('.math_container').css("background-image","url(" + question + ")");
</script>
<script src="controls.js?v=1"></script>
