html,body
{
    padding: 0px;
    margin: 0px;
}

.chapter_selection
{
    cursor: pointer;
}

#info_bar
{
    position: absolute;
    z-index: 9999;
    height: 50px;
    top: 0px;
    left: 0px;
    color: white;
    font-size: 18px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    padding: 10px;
}

#profile_select_button
{
    width: 40%;
}

#current_player_label
{
    width: 40%;
    text-align: right;
}

#new_profile_modal
{
    position: absolute;
    background-color: rgba(255,255,255,.7);
    width: 400px;
    height: 180px;
    padding: 20px;
    padding-bottom: 0px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -90px;
    display: none;
}

#chapter_select_modal
{
    position: absolute;
    background-color: rgba(0,0,0,.7);
    width: 200px;
    height: 180px;
    padding: 20px;
    padding-bottom: 0px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -90px;
    display: none;
}

#chapter_select_modal .btn
{
    padding: 10px;
    margin-bottom: 10px;
}

#modal_overlay
{
    background-color: rgba(0,0,0,.7);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
}

#frame
{
    width: 1264px;
    height: 1080px;
    background-image: url(img/frame.jpg);
    background-repeat: no-repeat;
    margin: auto;
    position: relative;
}

body
{
    background-image: url(img/mainbg.jpg);
    background-size: cover;
}

#logo img
{
    width: 100%;
    max-width: 200px;
}

#logo
{
    text-align: center;
    margin-bottom: 40px;
}

#home_page
{
    padding: 100px;
    padding-top: 20%;
    background-image: url(app_img/HomeScreenFullVersion.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#demo_page
{
    padding: 100px;
    padding-top: 50px;
}

#demo_page .locked
{
    font-size: 20px !important;
}

#profile_select
{
    padding: 100px;
    padding-top: 50px;
}

#profile_header
{
    margin-top: 22%;
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

#add_profile_container
{
    width: 50%;
    margin: auto;
    margin-top: 25px;
}

#add_profile
{
    font-size: 22px;
}

#profiles
{
    width: 50%;
    margin: auto;
    height: 300px;
    background-color: rgba(0,0,0,.7);
    padding-top: 10px;
    overflow-y: auto;
}

#profiles ul
{
    margin: 0px;
    padding: 0px;
}

#profiles ul li
{
    list-style-type: none;
    text-align: center;
    color: white;
    text-transform: uppercase;;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
}

.story_part
{
    padding-bottom: 20px;
}

.story_part_label img
{
    width: 150px;
}

.chapter_progress
{
    text-align: center;
}

.chapter_stars
{
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    color: #cfcfcf;
}

.star_rated
{
    color: #fbcf17;
}

.story_chapter
{
    background-color: #0a66b5;
    border-radius: 5px;
    font-size: 30px;
    color: white;
}

.chapter_locked
{
    background-color: #8c8d8e;
}

.chapter_label
{
    border-right: 3px solid white;
    padding: 0px;
    height: 80px;
    padding-top: 20px;
    text-align: center;
}

.locked
{
    padding-top: 10px;
    font-size: 60px;
}

.hidden
{
    display: none;
}

.video_container iframe
{
    width: 100%;
    height: 80%;
}

#chapter_list
{
    padding: 50px;
}

#chapter_frame
{
    width: 1024px;
    height: 768px;
    background-image: url(img/quiz_bg.jpg);
    background-size: cover;
}

.chapter_question
{
    height: 100%;
}

.chapter_question .time_bar
{
    background-color: #282a27;
    height: 30px;
}

.chapter_question .question_image
{

}

.question_image
{
    background-color: black;
    height: 100%;
}

.question_image img
{
    width: 86%;
    position: absolute;
    left: 7%;
}

.chapter_question h2
{
    color: white;
    text-align: center;
}

.answer_bar
{
    background-color: #282a27;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 10px 0px;
}

.answer_bar .btn
{
    padding: 10px;
    white-space: normal;
    word-wrap: break-word;;
    height: 120px;
    font-size: 20px;
}

.answer_bar .fa
{
    color: white;
}

.answer_bar .root_return
{
    text-align: center;
    font-size: 60px;
}

.finish_quiz
{
    color: white;
    text-align: center;
    font-size: 40px;
}

.next_question,.remove_answer
{
    text-align: center;
    font-size: 60px;
}

#quiz_result_title
{
    font-size: 48px;
    margin-bottom: 32px;
}

#quiz_failure_text
{
    font-size: 20px;
}

.result_image
{
    width: 128px;
    height: 128px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
    display: none;
}

#quiz_results_modal
{
    font-size: 32px;
    width: 768px;
    height: 512px;
    padding: 100px;
    color: white;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -384px;
    margin-top: -256px;
    z-index: 9999999999999;
}

#quiz_results_modal button
{
    font-size: 32px;
    margin-top: 32px;
}

.quiz_results h2
{
    font-size: 50px;
    font-weight: bold;
}

.quiz_results p
{
    font-size: 30px;
}

.book_bg
{
    background-image: url(img/book_bg.png);
    background-size: cover;
    height: 100%;
    position: absolute;
    top: 10px;
    width: 100%;
}

.math_container
{
    background-image: url(img/book_bg.png);
    background-size: cover;
    padding: 50px;
    height: 636px;
}

.math_question
{
    padding-left: 83px;
    padding-top: 100px;
    padding-right: 53px;
    text-align: center;
}

.numpad
{
    margin-left: 75px;
    margin-top: 100px;
}

.numpad .col-xs-4
{
    margin-bottom: 30px;
}

.math_chapter_container
{

}

.answer
{
    font-size: 40px;
    border-bottom: 5px solid #282a27;
    margin-left: 40px;
    margin-right: 40px;
}

.num_a,.num_b
{
    font-size: 140px;
}

.math_type
{
    font-size: 100px;
    position: relative;
    top: -20px;
    margin: 0px 10px;
}

.book_text
{
    padding-top: 145px;
    font-size: 40px;
    padding-left: 125px;
    width: 453px;
}

.multiple_answer
{
    border-bottom: 2px solid black;
}

.current_multiple_answer
{
    background-color: yellow;
}

video
{
    position: absolute;
    width: 85%;
    background-color: black;
}

.answer_bar h2
{
    color: white;
    text-transform: uppercase;
}

.numpad-button
{
    font-size: 38px;
    font-weight: bold;
}

.story_chapters > .col-xs-4 > p
{
    color: black;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

#demo_countdown{
    width: 150px;
    height: 150px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999999999999999;
    font-size: 100px;
    color: white;
    padding-top: 20px;
    text-align:center;
}
